<h1>Burger Time!</h1>

<h2>An American staple!</h2>

<ul>
  {{#each burger}}
  {{/each}}
</ul>


<h2>add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Sandwich Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>